# Environment & secrets
.env

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
comiccraft-env/

# OS metadata
.DS_Store
.AppleDouble
.LSOverride

# IDE
.idea/
.vscode/
*.swp
